
  <h1>Pokeverse</h1>

  <h1>My Squad (0)</h1>
<div class="poke-squad" >
  <div *ngFor="let squad of squads; let i = index">
  <mat-card class="poke-card">
    <img mat-card-image src="{{squad}}.png" alt="pic of pokemon" class="poke-img">
    <mat-card-header class="poke-header">
    </mat-card-header>
    </mat-card>
  </div>
</div>

<h1>All Pokemon</h1>
<div class="poke-container">
  <div *ngFor='let pokemon of pokemon.results; let i = index' [attr.id]="pokemon.id">
    <mat-card class="poke-card">
    <img mat-card-image src="{{url}}{{i+1}}.png" alt="pic of pokemon" class="poke-img">
    <mat-card-header class="poke-header">
      <mat-card-title>
        {{pokemon.name.charAt(0).toUpperCase()}}{{pokemon.name.slice(1)}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="add(i+1)">
        Add To Team!
      </button>
    </mat-card-actions>
    </mat-card>
  </div>
</div>
  
  <router-outlet></router-outlet>
  